@import "tailwindcss";
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
}
#root {
  min-width: 100%;
  min-height: 100vh;
}
