.color {
border-radius: 20px;
background: rgba(255, 255, 255, 0.15);
backdrop-filter: blur(10px);
}
.basecolor {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}


/* width */
.scroll-custom::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.scroll-custom::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scroll-custom::-webkit-scrollbar-thumb {
  background: #FFD900; 
  border-radius: 10px;
}

/* Handle on hover */
.scroll-custom::-webkit-scrollbar-thumb:hover {
  background: #dcdcdc; 
}